.form-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.form-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    /* padding: 12px; */
    font-family: sans-serif;
    width: 25em;
}

.form-content .error {
    background-color: green;
    padding: 12px;
    text-align: center;
    color: white;
}

.form-content .form-title {
    background-color: #f2f2f2;
    padding: 12px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.form-content input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 10px 0;
}

.form-content form {
    padding: 30px;
}

.center-button {
    display: flex;
    justify-content: center;
}

#submit-button {
    margin-top: 20px;
    background-color: #ddd;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 12px;
}
#submit-button:hover {
    background-color: #f2f2d2;
}